
$mdc-theme-primary: #fcb8ab;
$mdc-theme-secondary: #feeae6;

@import "material-components-web/material-components-web";

.activity--list-item {
    transition: foo-keyframe 175ms $mdc-animation-standard-curve-timing-function;
  }