:root {
        --mdc-theme-primary: #f0f3f5 !important;
        --mdc-theme-secondary: #898a8dde !important;
}
.mdc-top-app-bar .material-icons {
        color:rgba(0,0,0,.54);
}
#chat-container.mdc-card {
        display: inherit !important;
}
.mdc-line-ripple {
        background-color:  #44a3eb !important
}

