html ,body,#growthfile, #main-content,#main-layout-app,#app-current-panel {
  height: 100%;
}
:root {
  --mdc-theme-primary: #0399f4 ;
  --mdc-theme-secondary: #0399f4 ;
  --mdc-theme-background: #FFFFFF ;
  --mdc-theme-on-primary:#ffffff ;
  --mdc-theme-on-secondary :#ffffff ;
  
  --mdc-theme-text-primary-on-light:#FFFFFF ;
  --mdc-theme-text-primary-on-dark:#cccccc ;

  --mdc-theme-text-secondary-on-light:#67c9ff ;
  --mdc-theme-text-secondary-on-dark:#006bc1 ;
}
body {
  margin: 0;
  background-color: white;
}

#login-container {
  top: 5rem;
  position: relative;
}

.app {
  padding: 0;
}

.cell-space {
  grid-gap: 0
}

/** helpers **/

.margin-auto {
  margin:  0 auto;
}

.mt-10 {
  margin-top: 10px;
}

.p-10 {
  padding: 10px;
}
.mb-0 {
  margin-bottom: 0px !important;
}

.mt-0 {
  margin-top: 0px !important;
}
.pb-20 {
  padding-bottom: 20px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-10 {
  padding-top: 10px;
}
.hidden {
  display: none !important;
}

/** Dialog **/

.mdc-dialog footer .mdc-button:nth-child(1):not([disabled]) {
  color: red;
}

.mdc-dialog footer .mdc-button:nth-child(2) {
  color: #0399f4;
}

/** override **/
.mdc-text-field .mdc-text-field__input {
  caret-color: var(--mdc-theme-on-secondary);
}
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item::before, :not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item::after {
  background-color: #cccccc
}

.header-photo {
  border-radius: 50%;
  padding: 6px;
}