*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body,
#app-current-panel {
  height: 100%;
}

#map {

  display: none
}

:root {
  --mdc-theme-primary: #89273E;
  --mdc-theme-secondary: #cccccc;
  --mdc-theme-background: #cccccc;
  --mdc-theme-on-primary: #ffffff;
  --mdc-theme-on-secondary: #ffffff;

  --mdc-theme-text-primary-on-light: #FFFFFF;
  --mdc-theme-text-primary-on-dark: #cccccc;

}

body {
  margin: 0;
  background-color: white;

}

.mdc-top-app-bar {
  padding-top:20px;
  /* Status bar height on iOS 11.0 */
  padding-top: constant(safe-area-inset-top);
  /* Status bar height on iOS 11+ */
  padding-top: env(safe-area-inset-top);
}
@media (max-width:599px) {
  .mdc-top-app-bar--fixed-adjust {
    padding-top:calc(56px + 20px);
    /* Status bar height on iOS 11.0 */
    padding-top: calc(56px +constant(safe-area-inset-top));
    /* Status bar height on iOS 11+ */
    padding-top:calc(56px + env(safe-area-inset-top))
  }
}

#app-current-panel {
  position: relative;
  max-width: 1120px;
  margin:  0 auto;
}

.app-padding {
  padding: 20px;
}



.app {
  padding: 0;
}

.cell-space {
  grid-gap: 0
}

/** helpers **/

.margin-auto {
  margin: 0 auto;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.p-10 {
  padding: 10px;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-0 {
  margin-top: 0px !important;
}

.mr-0 {
  margin-right: 0px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-10 {
  margin-left: 10px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-0 {
  padding-top: 0px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-0 {
  padding-left: 0px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-0 {
  padding-right: 0px;
}
.bold {
  font-weight: bold;
}
.veritical-horizontal-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.width-100 {
  width: 100%;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}


.text-center {
  text-align: center
}

.freeze {
  pointer-events: none;
  opacity: 0.5;
}

.resize-veritcal {
  resize: vertical;
}


.center-abs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

/**success **/
#success-animation svg {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}

#success-animation svg .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

#success-animation svg .circle {
  -webkit-animation: dash .9s ease-in-out;
  animation: dash .9s ease-in-out;
}

#success-animation svg .line {

  stroke-dashoffset: 1000;
  -webkit-animation: dash .9s .35s ease-in-out forwards;
  animation: dash .9s .35s ease-in-out forwards;
}

#success-animation svg .check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check .9s .35s ease-in-out forwards;
  animation: dash-check .9s .35s ease-in-out forwards;
}

#success-animation p {
  text-align: center;
  margin: 20px 0 60px;
  font-size: 1.25em;
  font-weight: bold
}


@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }

  100% {
    stroke-dashoffset: 900;
  }
}

/** custom control **/

.custom-control span {
  font-size: 40px !important;
}

#add>span {
  font-size: 50px !important
}

.splash-content {
  padding: 20px;
  height: 100%;
  width: 100%;
}
.splash-content .text-container {
  margin-top: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

/* .splash-content .text {
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

@media (min-width:480px) {
  .splash-content .text {
    max-width: 80%;
  }
}

.splash-content .icon-cont {
  position: absolute;
  bottom: 0;
  width: 100%;
} */



/* 
 #start-load {
  position: absolute;
  top: 0px;
  bottom: 0rem;
  left: 0;
  right: 0;
  margin: auto;
  height: 64px;
  z-index: 9;
  text-align: center;
}



.lds-roller {

  width: 64px;
  height: 64px;
  margin: auto;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--mdc-theme-primary);
  margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */

.loader {
  position: relative;
  margin: 0 auto;
  width: 65px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: var(--mdc-theme-primary);
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}


.showbox {
  position: absolute;
  top: 6rem;
  bottom: 0rem;
  left: 0;
  right: 0;
  margin: auto;
  height: 64px;
  z-index: 9;
  text-align: center;
}

@media (max-width:360px) {
  .showbox {
    position: relative;
    top: 0rem;
  }
}

.list-photo-header {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  padding: 0px;
}


/** Dialog **/
.mdc-dialog footer .mdc-button:nth-child(1):not([disabled]) {
  color: red;
}


.mdc-dialog footer .mdc-button:last-child {
  color: #0399f4;
}

.mdc-dialog footer .mdc-button:disabled {
  color: var(--mdc-theme-secondary);
}

.custom-dialog-heading {
  padding: 20px 24px 0px 20px;
  border-bottom: 1px solid lightgray;
}

.custom-footer {
  display: block;
}

/** fab**/
.mdc-fab.mdc-fab--without-icon .mdc-fab__icon {
  font-size: 35px;
}

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}


@media(min-width: 1024px) {
  .app-fab--absolute {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}

/** firebase ui **/
.mdl-button--primary.mdl-button--primary {
  color: var(--mdc-theme-primary);

}

.mdl-button--raised.mdl-button--colored {
  background: var(--mdc-theme-primary);
}

.mdl-button--raised.mdl-button--colored:hover {
  background: var(--mdc-theme-primary);
}

.mdl-button--raised.mdl-button--colored:active {
  background: var(--mdc-theme-primary);
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background: var(--mdc-theme-primary);
}

.mdl-progress.mdl-progress--indeterminate>.bar1,
.mdl-progress.mdl-progress__indeterminate>.bar1 {
  background: var(--mdc-theme-primary);
}

.mdl-progress>.bufferbar {
  background-image: linear-gradient(to right, rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), linear-gradient(to right, var(--mdc-theme-primary), var(--mdc-theme-primary))
}

.mdl-progress:not(.mdl-progress--indeterminate):not(.mdl-progress--indeterminate)>.auxbar,
.mdl-progress:not(.mdl-progress__indeterminate):not(.mdl-progress__indeterminate)>.auxbar {
  background-image: linear-gradient(to right, rgba(255, 255, 255, .7), rgba(255, 255, 255, .7)), linear-gradient(to right, var(--mdc-theme-primary), var(--mdc-theme-primary))
}

.mdl-spinner--single-color .mdl-spinner__layer-1,
.mdl-spinner--single-color .mdl-spinner__layer-2,
.mdl-spinner--single-color .mdl-spinner__layer-3,
.mdl-spinner--single-color .mdl-spinner__layer-4 {
  border-color: var(--mdc-theme-primary);
}

/** override **/



.mdc-list-item__graphic.without-icon {
  width: auto;
}


.mdc-text-field .snap-text {
  caret-color: var(--mdc-theme-on-secondary);
}

:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item::before,
:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item::after {
  background-color: #cccccc
}

.mdc-checkbox__background {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
.mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background {
  background-color: var(--mdc-theme-primary);
  border-color: var(--mdc-theme-primary);

}

.mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {

  border-color: var(--mdc-theme-primary);
}

.mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {

  border-color: var(--mdc-theme-primary);
}

/** override **/

.header-photo {
  border-radius: 50%;
  padding: 6px;
}

.header-image {
  width: 37px;
  height: 36px;
  border-radius: 50%;
}

.location-header-title.mdc-top-app-bar__title {
  font-size: 1.25rem;
}


.success--container {
  width: 300px;
  height: fit-content;
}

.success--check {
  color: #ffffff;
  animation: checking 1s ease both;
  border: solid 12px white;
  width: 70px;
  height: 70px;
  margin: 50% 16%;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  transform-origin: top left;
  box-shadow: -5px 5px 0 0 rgba(0, 0, 0)
}

@keyframes checking {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }

  50% {
    opacity: 1;
    width: 0;
    height: 70px;
  }

  100% {
    width: 150px;
  }
}

/** user card **/
#user-fill {
  height: 60%;
  width: 90%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  text-align: center;
}

#user-fill .user-card {
  height: 100%;
}

#user-fill .user-card,
#user-fill .mdc-card__actions {
  padding: 16px;
}

/**iframe **/
iframe {
  border: 0px;

}

.full-width {
  width: 100%;
}

#form-iframe {
  width: 100%;
  height: 100%;
  position: relative;
  
  /* min-height: 70vh; */
}





#app-header #tabs .mdc-tab-indicator__content--underline {
  border-color: white !important;
}

.mdc-top-app-bar__navigation-icon.material-icons,
.mdc-top-app-bar__action-item.material-icons {
  /* font-size: 30px; */
}

.mdc-top-app-bar--fixed-adjust-with-tabs {
  padding-top: 56px;
}



/** no location found **/
.location-not-found {
  max-width: 400px;
  height: fit-content;
}

.location-not-found i {
  font-size: 150px;

}

.location-not-found .mdc-button {
  width: 200px
}



/** drawer **/
.mdc-drawer .mdc-drawer__header img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
  margin-top: 4%;
  vertical-align: middle;
}

.mdc-drawer__title {

  display: inline-block;
  vertical-align: top;
  margin-left: 5%;
  white-space: nowrap;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mdc-theme--success {
  color: green !important;
}

.mdc-theme--warning {
  color: yellow !important;
}


.PENDING {
  color: yellow;
}
.CONFIRMED { 
  color: green;
}
.CANCELLED {
  color: red;
}





/** step ui **/
.progress {
  position: relative;
  display: flex;
}

.progress .progress-track {
  position: absolute;
  top: 5px;
  width: 0px;
  height: 5px;
  background-color: #dfe3e4;
  z-index: -1;
}

.progress .progress-step {
  position: relative;
  width: 100%;
  font-size: 12px;
  text-align: center;
}

.progress .progress-step:last-child:after {
  display: none;
}

.progress .progress-step:before {
  content: "";
  display: flex;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 4px solid #dfe3e4;
  border-radius: 100%;
  color: #fff;
}

.progress .progress-step:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 50%;
  width: 0%;
  transition: width 1s ease-in;
  height: 5px;
  background: #dfe3e4;
  z-index: -1;
}

.progress .progress-step.is-active {
  color: green;
}

.progress .progress-step.is-active:before {
  border: 4px solid #777;
  animation: pulse 2s infinite;
}

.progress .progress-step.is-complete {
  color: #090;
}

.progress .progress-step.is-complete:before {
  font-family: FontAwesome;
  font-size: 10px;
  color: #fff;
  background: #090;
  border: 4px solid transparent;
}

.progress .progress-step.is-complete:after {
  background: green;
  animation: nextStep 1s;
  animation-fill-mode: forwards;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(33, 131, 221, 0.4);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(33, 131, 221, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(33, 131, 221, 0);
  }
}

@keyframes nextStep {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.step-container {
  padding-top: 100px;
}

.slider {
  height: 100%;
  display: flex;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

}

.slider-container {
  margin: auto;
  text-align: center;
}

.phone-number-choose {
  overflow-y: auto;
}

.phone-number-choose-cont {
  text-align: center;
}

.slider-content {
  min-height: 300px;
  min-width: 300px;
  position: relative;
  animation-duration: 0.9s;
  animation-name: bottomToTop;
}


.slider-content .heading {
  min-height: 200px;
}

/* .slider-container .image-container {
  min-height: 100px;
}

.slider-container .image-container img {
  max-width: 100px;
  width: 15%;
}
 */


.slider-list li {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
}



.slider .login-button-container .mdc-button {
  border-radius: 0px;
  height: 56px;
}

.slider-container .icon-container {
  text-align: center;
  min-height: 100px;
}

.slider-container .icon-container i {
  font-size: 100px;
}



.dot-container {
  min-height: 20px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

}


.dot.active {
  color: var(--mdc-theme-primary);
  background-color: var(--mdc-theme-primary);
}


.id-container .button-cont .mdc-button:nth-child(2) {
  float: right;
}



.action-button-container {
  padding-top: 60px;
  position: relative;
  max-width: 480px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.submit-button-cont {
  width: inherit;
  position: fixed;
  bottom: 0px;
  max-width: inherit;
  animation-duration: 0.5s;
  animation-name: bottomToTop;
}

.submit-btn {
  font-size: 20px;
  height: 56px;
  border-radius: 0px;
  font-weight: bold;
  width: 100%;
}

.submit-btn .mdc-button__icon {
  font-size: 24px;
}

@media (min-width:481px) {
  .submit-button-cont {
    bottom: 1rem;
    /* margin-top: 100px; */
    /* margin: auto; */
    /* position: relative; */
  }
 
}


.submit-btn:disabled {
  background-color: #dddddd;
}

.currency-primary {
  filter: invert(18%) sepia(45%) saturate(2574%) hue-rotate(318deg) brightness(94%) contrast(91%)
}

.mdc-fab-custom.mdc-fab::before,
.mdc-fab-custom.mdc-fab::after {
  width: auto;
}

.mdc-fab .material-icons {
  font-size: 35px;
}

.mdc-fab--mini .material-icons {
  font-size: 20px;
}


#phone-list .mdc-list-item__secondary-text,
#phone-list .mdc-list-item__primary-text {
  text-align: left;
}


.iti__flag {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.2/img/flags.png");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.2/img/flags@2x.png");
  }
}
.iti__country-list {
  min-width: 64px;
  max-width: 300px;
  top: 16px;
  max-height: 682px;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  background: #ffffff;
  border: 0;
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  opacity: 1;
  outline: 1px solid transparent;
  overflow: hidden;
  overflow-y: auto;
  position: fixed;
  z-index: 2000;
}
.mdc-text-field .iti {
  width: 100%;
}


.share-widget {
  max-width: 480px;
  display: block;
  margin:  0 auto;
  margin-top: 20px;
}
.share-widget .icon-container {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background-color: #cccccc70;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.share-widget .share-icon {
  font-size: 100px;
  text-align: center;
  width: 100%;
}


#skip-header {
  font-size: 16px;
  color: white;
}


.office-registeration {
  text-align: center;
  width: 100%;

  
}
.office-registeration .terms-cont {
  text-align: left;
}

@media (min-width:480px) {
  .office-registeration .text {
    max-width: 80%;
    display: block;
    margin: 0 auto;
  }
  .office-registeration .terms-cont {
    text-align: center;
  }
}

#app-slider {
  background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.legal-links {
  padding-top: 20px;
  display: block;
  margin: 0 auto;
}

.loading-screen {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.login-box {
  position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 99;
}


.message-screen {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 481px;
}
.message-screen  .icon-container{
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  color: var(--mdc-theme-primary);
}
.message-screen .icon-container i {
  font-size: 100px;
}
.message-screen .text-container {
  margin-top: 30px;
}
.message-screen .text-container  .headline{
  font-weight: bold;
  margin-bottom: 0px;
}
.message-screen .text-container p {
  padding: 0px 10px;
  font-weight: 500;
}
.message-screen .text-container .create-office--link {
  width: 80%;
  margin: 0 auto;

  margin-top: 50px;
}


.history-tl-container {
  cursor: pointer;
  margin: auto;
  display: block;
  position: relative;
  margin-left: 0px;
  padding: 0px 16px 10px 16px;
  height: 100%;

}


.history-tl-container ul.tl {
  margin: 20px 0;
  padding: 20px 0px 20px 0px;
  overflow-y: auto;
  width: 100%;
  padding: 0px 0px 60px 0px;
  overflow-y: auto;
  height: 100%;
  /* padding-top:80px; */
  /* margin-bottom: 80px; */

}

.history-tl-container ul.tl li {
  list-style: none;
  margin: auto;
  margin-left: 20px;
  min-height: 10px;
  border-left: 1px dashed #89273e6b;
  padding: 0 0 25px 30px;
  position: relative;

}

.history-tl-container ul.tl li:last-child {
  border-left: 0;
  padding-bottom: 0px;

}
.history-tl-container ul.tl li:first-child {
  margin-top: 10px;
}
.history-tl-container ul.tl li::before {
  content: 'done'; 
}
.history-tl-container ul.tl li.check-in::before {
  content: 'check_circle';
}
.history-tl-container ul.tl li.customer::before {
  content:'directions_walk'
}
.history-tl-container ul.tl li::before {
  font-family: 'Material Icons';
  position: absolute;
  left: -20px;
  top: -5px;
  border: 8px solid rgba(255, 255, 255, 0.74);
  border-radius: 100%;
  background: #89273E;
  height: 20px;
  width: 20px;
  padding: 3px;
  font-size: 20px;
  transition: all 500ms ease-in-out;
  color: white;
  text-align: center;
  box-sizing: content-box;
}

.item-title {
  padding: 3px;
}
.event-time {
  padding: 3px;

}

ul.tl li .item-detail {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}


.timeline--container {
  height: 100%;
}

.timeline--container .timeline {
  position: relative;
  height: 80%;
  /* margin-top: 80px; */
  /* padding-top: 16px; */
}

.timeline--header {
  /* position: fixed;
  top: 0rem; */
  background-color: white;
  width: 100%;
  z-index: 99;
  padding: 16px;
  border-bottom: 1px solid #ccc;
}

.timeline--footer {
  position: fixed;
  bottom: 0rem;
  margin: 0 auto;
  display: block;
  width: 100%;
  background-color: white;
  padding: 16px;
  margin-top: 80px;
  /* z-index: 99; */
}
.timeline--footer .mdc-button {
  width: 80%;
  margin: 0 auto;
  display: block;

}

.svg-list-empty {
  width: 100%;
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.empty-list {
  background-color: #f5f5f5;
}