.report-cards .demo-card__primary {
  padding: 0.8rem;
  padding-bottom: 0rem;
}

.report-cards .activity-data ul li {
  padding-left: 0px;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 8px 0px;
  margin-top: 20px;
}

.hr-sect::before,
.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}



.month-date-cont {
  text-align: center;
  padding-right: 25px;
  max-width: 54px;
  float: left;
}

.month-date-cont .date {
  font-weight: bold;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
}

.month-date-cont .day {
  text-transform: uppercase;
  color: #716c6c;
}

 .sfd {
  font-size: 20px;
  font-weight: 500;
}

.sfd.present {
  color: green;
}

.attendance-card .demo-card__primary {
  display: flex;
}
.attendance-card  .right {
  margin-left: auto;
}
.month-container {
  display: table;

  width: 100%;
  margin-top: 10px;
  padding: 10px;
}

.month-container .btn-container {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}

.month-container .btn-container button {
  width: 100%;
  margin-bottom: 10px;
}



.heading-container {
  float: left;
}
.dropdown {
  float: right;
  cursor: pointer;
  display: grid;
}
.dropdown i {
  float: right;
  text-align: right;
}
.card-office-title {
  margin-top: 7px;
}

.detail-container {
  padding: 1rem;
  padding-bottom: 10px;
  padding-top: 0px;
}
 .time-container, .amount-container {
  padding-top: 20px;
  width: 100%;
  text-align: center;
}
.time-container .time , .amount-container .amount {
 width: 33%;
 float: left;
}

.attendance-card .text-container {
  display: flex;
  flex-wrap: wrap;
}

.attendance-card .text-container .count {
  margin-right: 15px;
}
.detail-container .text-container .working-hour {
  margin-left: auto;
}

.attendance-card .mdc-card__actions .mdc-card__action:nth-child(2):not(full-bleed--action) {
  margin-left: auto;
}