/* Important stuff */
.mdc-bottom-navigation {
    background-color:  #FFFFFF;
    width: 100%;
    overflow: hidden;
    z-index: 6;
    position: fixed;
    bottom: 0;
    padding: 10px 0px 15px 0px;
  }
  .mdc-bottom-navigation__list {
    display: flex;
    justify-content: center;
    height: 100%;
  }
  .mdc-bottom-navigation__list-item {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 12px;
    min-width: 60px;
    max-width: 168px;
    box-sizing: border-box;
    color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
    user-select: none;
  }
  .mdc-bottom-navigation__list-item__icon {
    padding-top: 8px;
    pointer-events: none;
    transition-property: padding-top, color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 100ms;
  }
  .mdc-bottom-navigation__list-item__icon path {
    fill: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
  }
  .mdc-bottom-navigation__list-item__text {
    margin-top: auto;
    padding-bottom: 10px;
    font-size: 0.75rem;
    pointer-events: none;
    transition-property: font-size, color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 100ms;
  }
  .mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__icon {
    /* padding-top: 6px; */
  }
  .mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__text {
    font-size: 0.875rem;
  }
  .mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__icon, .mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__text {
    color: var(--mdc-theme-primary, #6200ee);
  }
  .mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__icon path, .mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__text path {
    fill: var(--mdc-theme-primary, #6200ee);
  }
  .mdc-bottom-navigation--shifting .mdc-bottom-navigation__list-item {
    min-width: 56px;
    max-width: 96px;
    transition-property: min-width, max-width;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 100ms;
  }
  .mdc-bottom-navigation--shifting .mdc-bottom-navigation__list-item .mdc-bottom-navigation__list-item__icon {
    padding-top: 16px;
    transition-property: padding-top;
  }
  .mdc-bottom-navigation--shifting .mdc-bottom-navigation__list-item .mdc-bottom-navigation__list-item__text {
    position: absolute;
    line-height: 10px;
    bottom: 0;
    opacity: 0;
    transition-property: opacity, font-size;
  }
  .mdc-bottom-navigation--shifting .mdc-bottom-navigation__list-item--activated {
    min-width: 96px;
    max-width: 168px;
  }
  .mdc-bottom-navigation--shifting .mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__icon {
    /* padding-top: 8px; */
    transition-property: padding-top;
  }
  .mdc-bottom-navigation--shifting .mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__text {
    white-space: nowrap;
    opacity: 1;
  }
  /* Demo Stuff */
  
  .demo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
  /* .demo-card {
    position: relative;
    align-items: flex-end;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 16px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    padding-bottom: 48px;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 2;
  } */
    .demo-card--landscape {
    width: 616px;
    height: 350px;
    padding-bottom: 0;
    padding-right: 48px;
  }
  .demo-card--landscape::after {
    height: 48px;
    width: 350px;
    transform: rotate(270deg);
    right: -350px;
    transform-origin: left bottom;
  }
  .demo-card--landscape .mdc-bottom-navigation {
    left: 0;
    bottom: 0 !important;
    width: calc(100% - 48px);
  }
  .demo-card--tablet {
    width: 840px;
  }
  .demo-card .mdc-bottom-navigation {
    position: absolute;
    bottom: 48px;
  }
  .demo-card .mdc-snackbar {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-radius: 0px;
    transition-property: bottom;
  }
  .demo-card .mdc-snackbar--active {
    bottom: 104px;
  }
  .demo-card .mdc-button {
    top: 0;
    margin: 6px 0px;
    align-self: center;
  }
  .demo-container-1 {
    --mdc-theme-primary: #009688;
    --mdc-theme-primary-light: #00ddc9;
    --mdc-theme-primary-dark: #004f47;
  }
  .demo-nav-theme .mdc-bottom-navigation {
    background-color: #00796b;
  }
  .demo-nav-theme .mdc-bottom-navigation__list-item {
    color: var(--mdc-theme-text-secondary-on-dark, rgba(255, 255, 255, 0.7));
  }
  .demo-nav-theme .mdc-bottom-navigation__list-item path {
    fill: var(--mdc-theme-text-secondary-on-dark, rgba(255, 255, 255, 0.7));
  }
  .demo-nav-theme .mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__icon, .demo-nav-theme .mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__text {
    color: var(--mdc-theme-text-primary-on-dark, white);
  }
  .demo-nav-theme .mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__icon path, .demo-nav-theme .mdc-bottom-navigation__list-item--activated .mdc-bottom-navigation__list-item__text path {
    fill: var(--mdc-theme-text-primary-on-dark, white);
  }
  .demo-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 8;
  }
  .status-bar {
    height: 24px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 8px;
    z-index: 3;
    position: absolute;
    top: 0;
    width: calc(100% - 48px);
    box-sizing: border-box;
    color: var(--mdc-theme-text-primary-on-dark, white);
  }
  .status-bar .material-icons {
    font-size: 18px;
  }
  





















  .wrap {
    max-width: 640px;
    margin: 0 auto;
  }
  ul.menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .overlay {
    display: block;
    position: fixed;
    top: 0;
    opacity: 1;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all 450ms cubic-bezier(0.32, 1, 0.23, 1) 0ms;
  }
  .overlay .social {
    z-index: 5;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 8px 24px 16px;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.22), 0px 14px 56px rgba(0, 0, 0, 0.25);
    transform: translate(0, 100%);
    transition: all 450ms cubic-bezier(0.32, 1, 0.23, 1) 100ms;
  }
  .overlay .social.open {
    transform: translate(0, 0);
  }
  .overlay .social.open.large {
      bottom: 56px
  
  }
  .overlay .social ul {
    text-align: justify;
    columns: 74px 3;
    vertical-align: bottom;
  }
  .overlay .social ul li {
    width: 74px;
    display: inline-block;
  }
  .overlay .social ul a {
    display: block;
    margin: 8px 0;
    color: gray;
    text-decoration: none;
    text-align: center;
  }
  .overlay .social ul a span {
    display: inline-block;
    width: 100%;
  }
  .overlay .social .facebook span {
    color: #3b5998;
  }
  .overlay .social .twitter span {
    color: #00aced;
  }
  .overlay .social .linkedin span {
    color: #007bb5;
  }
  .overlay .social .reddit span {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    border-radius: 2px;
    background-color: #cee3f8;
    color: #fff;
    text-shadow: 1px 1px #000, -1px -1px #000, -1px 1px #000, 1px -1px #000;
  }
  .overlay .social .reddit span::after {
    content: "";
    display: block;
    height: 4px;
    width: 4px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: -24px;
    left: 16px;
    box-shadow: 12px 0 red;
  }
  .overlay .social .whatsapp span {
    color: #4dc247;
  }
  .overlay .btn-close {
    color: #666;
    transform: scale(0, 0);
    transition: all 450ms ease-in-out 0;
  }
  .overlay:target {
    display: block;
    position: fixed;
    top: 0;
    opacity: 1;
  }
  .overlay:target .social {
    transform: translate(0, 0);
    z-index: 9;
  }
  .overlay:target .btn-close {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    outline: 0 none;
    transform: scale(1, 1);
  }
  @media screen and (min-width: 640px) {
    .overlay {
      padding: 0 19%;
    }
    .overlay .social {
      max-width: 62%;
      margin: 0 auto;
    }
    .overlay .social ul {
      column-gap: 64px;
    }
  }
  @media screen and (min-width: 960px) {
    .overlay {
      padding: 0 23.5%;
    }
    .overlay .social {
      min-width: 384px;
      max-width: 50%;
    }
    .overlay .social ul {
      column-gap: 124px;
    }
  }
  @media screen and (min-width: 1280px) {
    .overlay {
      padding: 0 26%;
    }
    .overlay .social {
      min-width: 512px;
      max-width: 48%;
    }
  }
  @media screen and (min-width: 1440px) {
    .overlay {
      padding: 0 28%;
    }
    .overlay .social {
      min-width: 576px;
      max-width: 44%;
    }
  }
  .mdi::before {
    font-size: 24px;
    line-height: 48px;
  }
  .social .mdi::before {
    font-size: 48px;
  }
  .sr-only {
    /* a generic way to visually hide content while remaining accessible to screen readers (h5bp.com) */
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
  }
  