.new-message-container {
  text-align: center;
  padding: 20px;
  padding-top: 10px;
  border-bottom: 1px solid lightgray;
}

.user-chats {
  padding-bottom: 10px;
  /* padding: 20px; */
}

.user-chats ul {
  padding-bottom: 56px;
}

.chat-count {
  font-size: 20px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--mdc-theme-primary);

  text-align: center;
  display: table-cell;
  overflow: hidden;
  vertical-align: middle;
  color: white;
}


.search-field {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 99;
}


#search-users {
  width: 100%;
  background-color: white;
  transition: visibility 0s, opacity 0.5s linear;
}

.wrapper {

  overflow: hidden;
  background-color: white;
  position: fixed;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
  transition: 0.3s ease;
  width: 100%;
  height: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform: translateX(0);

}

.wrapper .inner {
  overflow: scroll;
  height: 100%;
  background: #f2f2f2;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  background-color: #cccccc;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23ffffff' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23444444' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23decfc9' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23474747' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23bda195' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%234b4b4b' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%239b7564' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%234e4e4e' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23794b37' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23525252' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2355240d' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23555555' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

.wrapper .inner::-webkit-scrollbar {
  width: 0 !important;
}

.wrapper .inner .content {
  padding: 10.66667px;
  position: relative;
  margin-bottom: 72px;
  top: 50px;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 72px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23ffffff' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23444444' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23decfc9' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23474747' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23bda195' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%234b4b4b' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%239b7564' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%234e4e4e' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23794b37' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23525252' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2355240d' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23555555' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");

  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

#comment-textarea {
  background-color: white;

  -moz-border-radius: 5px;

  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  -moz-border-radius-bottomright: 30px;
  -moz-border-radius-bottomleft: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -webkit-border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;

}

.bottom .send {

  margin-left: 8px;
  bottom: 1px;
}


.message-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 10.66667px 0;
  padding: 10.66667px 0;
}

.message-wrapper .circle-wrapper {
  height: 42.66667px;
  width: 42.66667px;
  border-radius: 50%;
}

.message-wrapper .text-wrapper {
  padding: 10.66667px;
  width: 60%;
  margin: 0 10.66667px;
  box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
  border-radius: 2px;
  font-weight: 300;
  position: relative;
  word-break: break-all;

}

.message-wrapper.them .text-wrapper:before,
.message-wrapper.me .text-wrapper:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
}

.message-wrapper.aciton-info {
  background-color: #5fcced;
  border-radius: 12px;
  width: fit-content;
  margin: 10.66667px auto;
  padding: 0px;
}
.aciton-info * {
  pointer-events: none
}

.message-wrapper.aciton-info .text-wrapper {
  text-align: center;
  color: black;
  display: inline-flex;
  align-items: center;
  width: fit-content;
  font-size: 16px;
  box-shadow: none;
}

.message-wrapper.aciton-info .text-wrapper .metadata {
  bottom: -2px;
}

.message-wrapper.aciton-info .text-wrapper .metadata i {
  font-size: 16px;
}

.message-wrapper.them .circle-wrapper,
.message-wrapper.them .text-wrapper {
  background: white;
  float: left;
  color: black;
  font-weight: 500
}

.message-wrapper.them .text-wrapper:before {
  border-width: 0 10px 10px 0;
  border-color: transparent white transparent transparent;
  position: absolute;
  top: 0;
  left: -9px;
}

.message-wrapper.me .circle-wrapper,
.message-wrapper.me .text-wrapper {
  float: right;
  background: #bd5668;
  color: var(--mdc-theme-on-primary);
  font-weight: 500;

}


.message-wrapper.me .text-wrapper:before {
  border-width: 10px 10px 0 0;
  border-color: #bd5668 transparent transparent transparent;
  position: absolute;
  top: 0;
  right: -9px;
}

@media (max-width: 560px) {
  .wrapper {
    width: 100%;
    height: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateX(0);
  }

  .wrapper .inner {
    height: 100%;
    height: 100vh;
  }
}


.metadata {
  display: inline-block;

  padding: 0 0 0 7px;
  position: relative;
  bottom: -4px;
}

.metadata .time {
  font-size: 11px;
  display: inline-block;
}

.metadata .tick {
  display: inline-block;
  margin-left: 2px;
  position: relative;
  top: 4px;
  height: 16px;
  width: 16px;
}

.metadata .tick svg {
  position: absolute;
  transition: .5s ease-in-out;
}

.metadata .tick svg:first-child {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(180deg);
  transform: perspective(800px) rotateY(180deg);
}

.metadata .tick svg:last-child {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: perspective(800px) rotateY(0deg);
  transform: perspective(800px) rotateY(0deg);
}

.metadata .tick-animation svg:first-child {
  -webkit-transform: perspective(800px) rotateY(0);
  transform: perspective(800px) rotateY(0);
}

.metadata .tick-animation svg:last-child {
  -webkit-transform: perspective(800px) rotateY(-179.9deg);
  transform: perspective(800px) rotateY(-179.9deg);
}



/* Compose */

.conversation-compose {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  z-index: 2;
  margin-left: 3%;
  margin-right: 3%;
  height: 56px;
}

.conversation-compose div,
.conversation-compose input {
  background: #fff;
  height: 100%;
  width: 90%;
}

.conversation-compose .emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 5px 0 0 5px;
  flex: 0 0 auto;
  margin-left: 8px;
  width: 48px;
}

.conversation-compose .input-msg {
  border: 0;
  flex: 1 1 auto;
  font-size: 16px;
  margin: 0;
  outline: none;
  min-width: 50px;

  padding-left: 10px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.conversation-compose .photo {
  flex: 0 0 auto;
  border-radius: 0 0 5px 0;
  text-align: center;
  position: relative;
  width: 48px;
}



.conversation-compose .photo i {
  display: block;
  color: #7d8488;
  font-size: 24px;
  transform: translate(-50%, -50%);
  position: relative;
  top: 50%;
  left: 50%;
}

/** view-form**/
#view-form .mdc-dialog__container {
  width: 100%;
}
#view-form .mdc-dialog__container  .mdc-dialog__surface{
width: inherit;
max-height:80%;
}
#view-form .mdc-dialog__content {
  padding: 0px;
}

#view-form .mdc-card .view-card {
  padding: 20px 24px;
}

#view-form .mdc-card .view-card .mdc-list {
  padding: 0px;
}

#view-form .mdc-card .view-card .mdc-list li {
  padding-left: 0px;
}

#view-form .mdc-card .view-card .mdc-list li .list-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
  line-height: normal;
  display: block;
}

/** status-change **/

.status-select {
  max-width: 300px;
  min-width: 280px;

}


/** menu **/
.align-right-menu {
  right: 20px;
  left: auto !important;
  

}
/** Share **/
.share-user-container {
  padding: 16px 16px 0px 16px;
}
.share-user-container .mdc-chip-set {
  padding-left: 0px;
  overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: inline-table;
    width: 100%;
    border-bottom: 1px solid lightgray;
    transition: visibility 0s, opacity 0.5s linear;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent
}
.share-user-container .mdc-chip-set .mdc-chip {
  margin-left: 0px;
  border: none;
}
 #users-list {
  position: fixed;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}
 .user-selection-icon {
  position: absolute;
  bottom: 0;
  right: 10px;
  transition:.3s ease;
  color: green;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;


}
/** share selection **/

.user-selection-icon.user-selection-show {
  opacity: 1;
  visibility: visible;
}


