.new-message-container {
    text-align: center;
    padding: 30px;
    border-bottom: 1px solid lightgray;
}


  .wrapper {
    height: 520px;
    width: 320px;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
    transition: 0.3s ease;
  }
  .wrapper .inner {
    overflow: scroll;
    height: 520px;
    padding-top: 64px;
    background: #f2f2f2;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    background-color: #cccccc;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23ffffff' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23444444' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23decfc9' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23474747' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23bda195' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%234b4b4b' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%239b7564' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%234e4e4e' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23794b37' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23525252' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%2355240d' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23555555' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
background-position: top;
  }
  .wrapper .inner::-webkit-scrollbar {
    width: 0 !important;
  }
  .wrapper .inner .content {
    padding: 10.66667px;
    position: relative;
    margin-bottom: 32px;
  }
 
  .bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 64px;
    background: #fff;
    /* box-shadow: 0px -3px 3px 0px rgba(50, 50, 50, 0.1); */
  }
  .bottom .input {
    height: 64px;
    background: #fff;
    border: none;
    width: calc(100% - 64px);
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 5%;
    resize: none;
    overflow: scroll;
    padding-top: 24px;
    font-weight: 300;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
  }
  .bottom .input:focus {
    outline: none;
  }
  .bottom .input::-webkit-scrollbar {
    width: 0 !important;
  }
  .bottom .send {
    position: fixed;
    height: 42.66667px;
    width: 42.66667px;
    border-radius: 50%;
    border: 0;
    background: #f44336;
    color: #fff;
    bottom: 10.66667px;
    right: 10.66667px;
  }
  .bottom .send:before {
    content: '';
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/ic_send_white_48dp.png) no-repeat center center;
    background-size: 25.6px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .bottom .send:focus {
    outline: none;
  }
  .bottom .send:hover {
    cursor: pointer;
  }
  .message-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 10.66667px 0;
    padding: 10.66667px 0;
  }
  .message-wrapper .circle-wrapper {
    height: 42.66667px;
    width: 42.66667px;
    border-radius: 50%;
  }
  .message-wrapper .text-wrapper {
    padding: 10.66667px;
    min-height: 42.66667px;
    width: 60%;
    margin: 0 10.66667px;
    box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
    border-radius: 2px;
    font-weight: 300;
    position: relative;
    /* word-break: break-all; */
    opacity: 0;
  }
  .message-wrapper .text-wrapper:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
  }
  .message-wrapper.them .circle-wrapper, .message-wrapper.them .text-wrapper {
    background: #f44336;
    float: left;
    color: #fff;
  }
  .message-wrapper.them .text-wrapper:before {
    border-width: 0 10px 10px 0;
    border-color: transparent #f44336 transparent transparent;
    position: absolute;
    top: 0;
    left: -9px;
  }
  .message-wrapper.me .circle-wrapper, .message-wrapper.me .text-wrapper {
    background: #ff5722;
    float: right;
    color: #333;
  }
  .message-wrapper.me .text-wrapper {
    background: #fff;
  }
  .message-wrapper.me .text-wrapper:before {
    border-width: 10px 10px 0 0;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 0;
    right: -9px;
  }
  @media (max-width: 560px) {
    .wrapper {
      width: 100%;
      height: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      transform: translateX(0);
    }
    .wrapper .inner {
      height: 100%;
      height: 100vh;
    }
  }
  