.empty-claims-section {
    text-align: center;
    margin-top: 5%;
}

.reim-card .month-date-cont{
        float: left;
}
.reim-card .demo-card__primary .mdc-typography--subtitle2 {
    margin-top: 5px;
}
.reim-card .demo-card__primary {
    padding-bottom: 10px;
}
.reim-card .demo-card__title {
    font-weight: 500;
}


.reim-auto-card p {
    word-wrap: break-word;
}
/** temp table **/
.data-table {
    background-color: #fff;
    background-color: var(--mdc-theme-surface,#fff);
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.12);
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
}
.data-table table {
    width: 100%;
    border: 0;
    white-space: nowrap;
    border-collapse: collapse;  
}
.data-table__header-row {
    height: 56px;
}
.data-table__header-row , .data-table__row {
    background-color: inherit;
}
.data-table__content {
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: .0178571429em;
    text-decoration: inherit;
    text-transform: inherit;
}

.data-table__row {
    height: 52px;
    border-top-color: rgba(0,0,0,.12);
    border-top-width: 1px;
    border-top-style: solid;
}
.data-table__cell {
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: .0178571429em;
    text-decoration: inherit;
    text-transform: inherit;
}
.data-table__cell-secondary {
    color: var(--mdc-theme-text-secondary-on-background,rgba(0,0,0,.54));
    margin-top: 5px;
    margin-bottom: 5px;
}
.data-table__header-cell {
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 500;
    letter-spacing: .0071428571em;
    text-decoration: inherit;
    text-transform: inherit;
    text-align: left;
}
.data-table__header-cell.cell-numeric {
    text-align: right;
}
.data-table__cell, .data-table__header-cell {
    color: rgba(0,0,0,.87);
}

.data-table__cell , .data-table__header-cell {
    padding-right: 16px;
    padding-left: 16px;
}
.data-table__cell--numeric {
    text-align: right;
}
.total-amount-container {
    padding: 15px;

}
.total-amount-container span:nth-child(1) {
    float: left;
}
.total-amount-container span:nth-child(2) {
    float: right;
}