.image {
    border-radius: 50%;
    padding: 5px;
    width: 48px;
    height: 48px;
}

.header-two-line.mdc-list-item__primary-text::before {
    height: auto;
}
.header-two-line.mdc-top-app-bar__title {
    padding-left: 0px;
}

@media (max-width:320px) {
    .header-two-line {
        max-width: 250px;
    }
}
@media (min-width:321px) and (max-width:480px) {
    .header-two-line {
        max-width: 300px;
    }
}
@media (min-width:481px) and (max-width:600px) {
    .header-two-line {
        max-width: 500px;
    }
}

.home-container {
    padding-top: 20px;
    
}
.home-container .mdc-card__media-content {
    top: auto;
    color: white;
}

.home-container .mdc-card__media-content h3 {
    margin: 0
}

.home-container .mdc-card__primary-action {
    display: block;

}

 .actions {
    float: right;
    padding: 10px;
    padding-right: 0px;

}

.actions .action {
    margin-bottom: 10px;
}

.actions .action span {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    font-size: 1.3rem;
}

.actions .action  i {
    font-size: 30px;
    margin-right: 10px;
}

.home-container .mdc-card__primary-action {
    padding: 10px;
    padding-bottom: 0px;
}

.home-container .mdc-card__primary-action .simple {
    display: inline-flex;
    align-items: center;
}

.home-container .mdc-card__primary-action .simple h3 {
    margin-left: 10px;
}

 .demo-card__primary {
    padding: 1rem;
}

 .demo-card__title {
    margin: 0;
}

 .demo-card__secondary,
 .demo-card__subtitle {
    color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, .54));
}

.home-container .demo-card__subtitle {
    margin: 0;
}

.tasks-heading {
    display: inline-flex;
    align-items: end;
}
.tasks-heading.center {
    align-items: center;
}
.tasks-heading i {
    padding-right: 10px;
}

.home-container .mdc-list-group .mdc-list {
    /* padding-left: 10px; */
}

.home-container .mdc-list-group h3 {
    font-weight: bold;
    margin-left: 0px;
}

.icons {
    width: 48%;
    text-align: center;

}
.icons .material-icons.mdc-fab__icon {
    /* font-size: 35px; */
}
.icons.one {
    float: left;
}
.icons.two {
    float: right;
}

.attendence-claims-btn-container {
    width: 100%;
    position: fixed;
    bottom: 0;

}
.chat-button {
    display: inline-block;
    position: relative;
    padding: 2px 0px;
  
}

#chat {
    padding-bottom: 0px;
    padding-top: 5px;
}

#total-count.count-badge {
    background-color: white;
    position: absolute;
    top: -7px;
    right: -7px;
    font-size: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: var(--mdc-theme-primary);
    text-align: center;
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;
    font-weight: bold;
}