* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

#home_header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 89px;
  background-color: white;
  border-bottom: 1px solid #d8d5d5;
}

#logo {
  position: absolute;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  top: 18px;
  left: 10px;
}

#generic_button {
  position: absolute;

  right: 48px;
  top: 18px;
}

#profile_pic {
  position: absolute;
  right: 15px;
  top: 18px;
}

#pfp {
  border-radius: 50%;
}

#other_assignees {
  position: relative;
  top: 16px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
}

#home_text {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-align: center;
  color: var(--mdc-theme--primary);
  padding-top: 65px;
}

#assignees_pic {
  position: relative;
  top: -8px;
  border-radius: 50%;
  left: -3px;
}

#camera_upload {
  position: absolute;
  top: 58px;
  width: 23px;
  height: 21px;
  left: 10px;
}

#current_duty_card {
  display: flex;
  padding: 10px;
  width: 94.4%;
  border-radius: 2px;

  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 10px;
  box-shadow: 0 0 2px #a7a7a7;
  margin-top: 95px;
}

.header {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  padding: 8px;
  color: #25456c;
}

.total-days-worked {
  padding: 10px;
  padding-top: 5px;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  color: #f2f2f2;
}

#assignees_div_current {
  margin-left: -9px;
}
.material-icons-outlined {
  position: relative;
  top: 6px;
  color: #25456c;
}
#current_text {
  width: 50%;
}

#finish_button {
  padding: 20px;
  width: 40%;
}
#finish {
  height: 69px;
  width: 69px;
  margin-top: 35%;
  margin-left: 50%;
  padding: 10px;
  background-color: white;
  border: rgba(128, 128, 128, 0.2) 1px solid;
  box-shadow: 0 0 5px rgb(129, 126, 126);
  border-radius: 100%;
  color: #de2e2e;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.11em;
}

#current_location {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
}

#current_interval {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
}

#total_time {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
}

#month_card2 {
  display: block;
  width: 94.4%;
  margin: 0 auto;
  border-radius: 2px;
  height: 63px;
  background: #25456c;
  margin-bottom: 5px;
}

month_date2 {
  padding: 10px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #f2f2f2;
}

#month_date2 {
  padding: 10px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #f2f2f2;
}

#days_worked2 {
  padding: 10px;
  padding-top: 5px;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  color: #f2f2f2;
}

#days_worked2 {
  padding: 10px;
  padding-top: 5px;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  color: #f2f2f2;
}

#expand_button {
  position: relative;
  color: #f2f2f2;
  left: 90%;
}

#collapsed2 {
  position: relative;
  display: none;
  padding-top: 5px;
  padding-bottom: 5px;
}



#arrow {
  position: relative;
  top: -40px;
  left: 90%;
  color: white;
}

#date_day2 {
  height: 100%;
  padding-left: 16px;
  width: 22%;
  color: #4f4f4f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
}

#date_day2_hide {
  height: 100%;

  width: 22%;
  color: #4f4f4f;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  padding: 10px;
}

#duty_div2 {
  width: 75%;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  color: #333333;
  
}

#h_line{
  display: block; height: 1px;
    border: 0; border-top: 1px solid #25456c;
; padding: 0;
  
  color:#25456c;
  margin-top: 10px;
}

#circle{
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color:  #25456c;
  margin-top: -5px;
}

#duty_div2_hide {
  width: 75%;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  color: #333333;
}

.material-icons {
  position: relative;
  top: 6px;
  color: #25456c;
}

#collapsed_duty2 {
  border: 2px solid gainsboro;
  margin-bottom: 5px;
}
#expended_duty2 {
  width: 100%;
  border: 2px solid gainsboro;
}

#expended_location,
#expended_checkin_time,
#expended_checkin_totaltime {
  padding-left: 10px;
}

#duty_date2 {
  background-color: #25456c;
  color: white;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  text-align: center;
  margin-top: 5px;
  padding-top: 16px;
}

#duty_day2 {
  padding-left: 10px;
}



#individual_duty{
  border: 1px #e5e5e5 solid;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 14px;
  margin-bottom: 14px;
}



#show_more_b {
  position: absolute;
  bottom: 0px;
  padding-bottom: 8px;
  padding-top: 8px;
  width: 100%;
  text-align: center;
  z-index: 99;
  background-color: white;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
}