.transitions .app-init-screens {
  width: 100%;
  text-align: center;
  padding: 16px;
}
.app-init-screens .loader-image {
  max-width: 330px;
  display: block;
    margin: 0 auto;
}

.app-init-screens .loading-text--headline {
  font-weight: 500;
  margin-top: 10%;
}
.app-init-screens .loading-text {
  position: fixed;
  bottom:1rem;
  width: 100%;
  text-align: center;
}




.bottom-card{
  position: fixed;
  bottom: 0rem;
  padding: 16px;
  width: 100%;
}

.bottom-card ul {
  overflow-y: auto;
  max-height: 400px;

}