svg {
  margin: auto;
  display: block;
}
path {
  stroke-linecap: round;
  stroke-width: 2;
}

path.grey {
  stroke: lightgrey;
}

path.purple {
  stroke: purple;
  stroke-dasharray: calc(40 * 3.142 * 2.85);
  stroke-dashoffset: 20;
  /* adjust last number for variance */
}
 .job-screen {
   padding: 10px;
   background-color: #f5f5f5;
   height: 100%;
}
.job-screen .photo-button--container{
  max-width: 200px;
  margin: 0 auto;
  margin-top: 20px;

}
.job-screen .action-buttons {
  padding:10px 0px 10px 0px;
  width: 100%;
  text-align: center;
  max-width: 480px;
  display: block;
  margin: 0 auto;

}
.job-screen .action-buttons #skip {
  width: 29%;
  height: 48px;
  font-size: 18px;
}
.job-screen .action-buttons #finish {
  width: 69%;
  height: 48px;
  font-size: 18px;
}
#finish .material-icons.mdc-button__icon {
  width: 28px;
  height: 28px;
  font-size: 28px;
}
.job-screen .duty-overview , .job-screen .timeline-overview {
  padding: 10px;
}

.job-screen .duty-overview .location {
  display: flex;
  align-items: center;
}

.coming--soon-container {
  display: block;
  margin: 0 auto;
  max-width: 480px;
  padding-top: 100px;
}
.coming--soon-container img {
  width: 100%;
}