* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

.mdc-top-app-bar .material-icons {
  top: auto;
}
.app-bar--extra {
  width: 100%;
}

.app-bar--extra .mdc-icon-button {
  color: var(--mdc-theme-on-secondary);
  float: left;
}

.app-bar--extra .mdc-top-app-bar__title {
  padding: 16px 48px 0px 16px;
}

#assignees_pic {
  position: relative;
  top: -2px;
  border-radius: 50%;
  left: -3px;
}

#camera_upload {
  position: absolute;
  top: 58px;
  width: 23px;
  height: 21px;
  left: 10px;
}

#current_duty_card {
  display: block;
  padding: 10px;
  width: 94.4%;
  border-radius: 2px;

  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 10px;
  box-shadow: 0 0 2px #a7a7a7;
}

#header_date {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: right;
}

.header {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  padding: 8px;
  color: #25456c;
}

.total-days-worked {
  padding: 10px;
  padding-top: 5px;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  color: #f2f2f2;
}

#assignees_div_current {
  margin-left: -9px;
}

.material-icons-outlined {
  position: relative;
  top: 6px;
  color: #25456c;
}

#current_text {
  width: 100%;
}

#current_location {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
}

#current_interval {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
}

#total_time {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
}

#checkin_box {
  display: block;
  padding-top: 10px;
  padding-left: 10px;
  width: 94.4%;
  border-radius: 2px;
  padding-bottom: 17px;
  margin: 0 auto;

  margin-bottom: 10px;
  box-shadow: 0 0 2px #a7a7a7;
}

#checkin_header {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 15px;
  color: #25456c;
}

#container {
  display: inline;
  text-align: center;
  padding: 3px;

  margin-right: 15px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  box-shadow: 0 0 2px #a7a7a7;
}

.containers {
  margin-bottom: 10px;
}

#upload_pics {
  width: 88%;
  margin: 0 auto;
  
}

#photo_section {
  text-align: center;
  float: left;
  margin-right:3px ;
  margin-bottom: 10px;
  background-color: #f4f4f4;
  

}

#one_pic{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#gallery_logo {
    margin-top: 5px;
  float: left;
  margin-left: 5px;

}

#timestamp_below {
    height: 25px;
  float: right;
  margin-top: 10px;
  margin-right: 3px;
  font-family: Roboto;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: 12px;
letter-spacing: 0em;


}
