
.transparent {
    background-color: transparent !important;
}

#selection-box  aside {
    height: 40%;
}
#selection-box #card-primary {
    text-align: left;
}

.selection-box-auto button {
    width: 100%;
    border-radius: 0px;
    height: 52px;
}

.selection-box-auto button span {
    font-size: 24px;
}

.selection-box-auto .content-body {
    max-height: 300px;
    overflow-y: auto;
    padding: 0px 10px 30px 10px;
}

.selection-box-auto .content-body .mdc-select {
    width: 100%;
}
#subscription-list-group {
    padding-top: 20px;
    padding-bottom: 20px;
}
#subscription-list-group ul {
    padding-left: 20px;
}
.subscription-list {
    animation: left_to_right 0.3s ease;
}
.subscription-list li {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0%);
}
.subscription-list li.slide-right{
    transform: translateX(100%);
}

.subscription-list:not(#confirm-tasks) li:not(.mdc-list-divider) {
    min-height: 60px;
    font-size: 20px;
    /* padding-left: 40px; */

}
.subscription-list  span{
    font-size: 20px;
    
}


  
  @keyframes left_to_right {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0;
    }
  }
  @keyframes right_to_left {
    from {
      margin-right: -100%;
    }
    to {
      margin-right: 0;
    }
  }

#select-venue li {
    background-color: lightgray;
    padding-right: 10px;
    padding-left: 10px;
}

#select-venue .mdc-list-item__meta {
    border-left: 1px solid gray;
    font-size: 28px;
    padding-left: 5px;
}

.mdc-select-custom {
    width: 100%;
}

.mdc-select__menu ul li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0;
    line-height: normal;
    display: block;
    margin-bottom: 0px;
}

.card__primary {
    padding: 0.6rem;
    padding-left: 20px;
    text-align: center;
    font-weight: 400;
    border-bottom: 1px solid rgba(0, 0, 0, 0.38);
    color: #89273E
}

.card__secondary {
    padding: 0px 16px 0px 16px;
}

.custom-control i {
    font-size: 32px;

}

.custom-control.right {
    margin: 10px;

}

.card-header {
    position: relative;
}

/** card-form **/

.form-container .mdc-text-field {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(224, 224, 224, 0.32);
    width: 100%;
}


/** bottom card **/

.overlay {
    display: block;
    position: fixed;
    top: 0;
    opacity: 1;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all 450ms cubic-bezier(0.32, 1, 0.23, 1) 0ms;
  }
  .overlay .social {
    z-index: 5;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 8px 24px 16px;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.22), 0px 14px 56px rgba(0, 0, 0, 0.25);
    transform: translate(0, 100%);
    transition: all 450ms cubic-bezier(0.32, 1, 0.23, 1) 100ms;
  }
  .overlay .social.open {
    transform: translate(0, 0);
  }

  
  @media screen and (min-width: 640px) {

    .overlay {
      padding: 0 19%;
    }
    .overlay .social {
      max-width: 62%;
      margin: 0 auto;
    }
}
@media screen and (min-width: 960px) {
    .overlay {
      padding: 0 23.5%;
    }
    .overlay .social {
      min-width: 384px;
      max-width: 50%;
    }
}

@media screen and (min-width: 1280px) {
    .overlay {
      padding: 0 26%;
    }
    .overlay .social {
      min-width: 512px;
      max-width: 48%;
    }
  }

/** new join **/
.new-join {
  padding: 20px;
}
.office-search-fail {
  text-align: center;
}
.office-search-fail button {
  display: block;
  margin: 0 auto;
}



@keyframes bottomToTop {
  from {
    bottom: -1000px;
   
  }

  to {
    bottom: 0px;
   
  }
}

@keyframes topToBottom {
  from {
    bottom: 0px;
   
  }

  to {
    bottom: -1000px;
  }
}

.place-box {
  position: relative;
  animation-duration: 0.5s;
  animation-name: bottomToTop;
}


.place-box .demo-card__primary {
  padding-top: 10px;
}
.place-box .mdc-list-item {
  height: auto;
}
.place-box.show {
  transform: translateY(0);
}
.place-box .mdc-fab {
  width: fit-content;
}
.place-box .swipe-up-icon {
  font-size: 30px;
  
}

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    font-size: 30px;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .expand-box  {
    position: relative;
   
  }
  .expand-box.up{
    animation-duration: 0.8s;
    animation-name: bottomToTop;
  }
  .expand-box.down {

    animation-duration: 0.5s;
    animation-name: topToBottom;
    animation-iteration-count: 1;

  }

  .expand-box .mdc-card .demo-card__primary {
    padding-bottom: 0px;
  }
 
 
  .confirm-cont .fab-button-cont {
    margin-left: auto;
    margin-top: 10px;
  }
  .confirm-cont .fab-button-cont {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  @media (max-width:480px) {
    .expand-box .address-list {
        min-height: 100px;
    }

  }

  .owner-check-form {
    min-width: 200px;
  }