.account-list .mdc-list-item {
    font-weight: 500;
}

.add-new-account .list-info {
    padding-right: 16px;
    font-size: 14px;
    line-height: 14px;
    /* letter-spacing: 0.02em; */
    color: var(--profile-gray--text);
    margin-left: 19%;
}

#backicon {
    color: var(--mdc-theme-on-secondary);
  }

#my-label-id{
    color: var(--mdc-theme-on-secondary)
  }