.profile-image {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    transition: .5s ease;
}
.mdc-button.overlay-text {
    display: inline-block;
    align-items: center;
}
.overlay-text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    top: 30% !important;
    
    width: 100%;
}
.overlay-text.show , .overlay-text.show i {
    font-size: 22px;   
}


.mdc-card__media.mdc-card__media--16-9.reduced-brightness {
    filter: brightness(0.4);
}

#profile-card {
    min-height: 100vh;
}

#profile-card .demo-card__primary {
    padding: 16px;
}

.action-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#base-details {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

#user-details {
    padding-right: 10px;
    padding-left: 10px;

}

.mdc-card__primary-action::before,
.mdc-card__primary-action::after {
    background-color: var(--mdc-theme-background)
}

#edit-profile {

    border-radius: 50%;
    right: 1rem;
    top: 1rem;
    float: right;
}

#edit-profile.without-tabs-des {
    bottom: 54.5rem;
}

.white {
    color: white;
}

.fs-30 {
    font-size: 30px !important;
}

.meta-icon {
    vertical-align: middle;
    padding-right: 10px;
}

.supervisior {
    margin-left: -8px;
}


.dot {
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.dot-alert {
    width: 10px;
    height: 10px;
    margin-left: -10px;
    vertical-align: top;
    background-color: red;
}

.dot-alert-btn {
    width: 12px;
    height: 12px;
    margin-top: -17px;
    margin-left: -20px;
}

#profile-card .mdc-card__actions {
    background-color: #d3d3d382;
}

.full-width {
    width: 100%;
}
#profile-card #name, #profile-card #email {
    margin-top: 10%
}


#email.recp {
    margin-top: 2%;
}


.edit-body {
    margin-top: 5%;
}

.seperator {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, .12);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e0e0e0;
}