.info-text {
	text-align: center;

}
.report-view {
	padding-left: 10px;
	padding-right: 10px;
}
.data-container {
	padding: 0px;
}

.capitalize {
	text-transform: capitalize;
}
.card-detail-section {
	padding: 1rem;
    padding-top: 0px;
}
.card-detail-section .payment-details h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}
.card-detail-section .payment-details h3:nth-child(1) {
	margin-top: 0px;
}

.report-card .demo-card__primary {
	padding: 1rem;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.report-card .detail-container {

    padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
	border-bottom: 1px solid #ccc;

}
.monthly-stat , #reimbursement-cards  {
	padding-bottom: 80px;
}
.card-office-title {
	white-space: nowrap; 
	width: 100%; 
	overflow: hidden;
	text-overflow: ellipsis; 
}
@media(max-width:320px) {
	.card-office-title {
		width: 100px;
	}
}
@media(min-width:321px) and (max-width:360px) {
	.card-office-title {
		width: 150px;
	}
}
@media (min-width:361px) and (max-width:480px) {
	.card-office-title {
		width: 200px;
	}
}
@media(min-width:481px) and (max-width: 800px) {
	.card-office-title {
		width: 300px;
	}
}