.profile-update-init {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 90%;
    height: fit-content;
    animation: right_to_left 0.4s ease;

}

.profile-update-init #card-header {
    width: inherit;
}

.profile-update-init #primary-content {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;

}

.profile-update-init #primary-content .mdc-text-field {
    width: 100%;
}
.profile-update-init .photo-container {
    position: relative;
    display: table;
    margin: 0 auto;
}
.profile-update-init .photo-container .mdc-fab {
    position: absolute;
    right: 0px;
   
    bottom: 0;
  
    bottom: 5px;
    right: 5px;
}
.profile-update-init .view-container .mdc-text-field{
    border-bottom: none;
    background-color: white;
}
.profile-update-init .view-container .mdc-text-field::before, .profile-update-init .view-container .mdc-text-field::after {
    background-color: white;

}
.profile-update-init .view-container .mdc-text-field input {
    border-bottom-color: transparent !important;
}
#image-update {
    display: block;
     height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.profile-update-init #primary-content .image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    opacity: 1;
    transition: .3s ease;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0 auto;
}

.profile-update-init #primary-content .image-overlay i {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#updateName {
    float: right;
}
#sendVerification {
    width: 100%;
}